<header>
  <%= image_tag "13214.jpg", class: "top-image" %>
</header>
<div class="top-container">
  <div class= "left-body">
    <h1>その瞬間を言葉と共に・・・</h1>
  </div>
  <div class= "right-body">
    <p>その「瞬間」の感動を<br>写真でけでなく<br>言葉でも残しませんか？</p>
  </div>
</div>